.dialogName {
    padding: 25px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(185, 185, 185);
}

.dialogName a {
    color: #000;
    text-decoration: none;
}

.dialogName a.active {
    color: deepskyblue;
    font-weight: 500;
}