.navbar {
    height: 100%;
    grid-area: nav;
    background-color: rgb(78, 197, 245);
    border-radius: 5px;
    padding: 10px;
}
  
.navbar__menu {
    list-style: none;
    padding: 0;
}
  
.navbar__listItem {
    padding: 15px 20px;
    margin-bottom: 20px;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
}
  
.navbar__listItem:last-of-type {
    margin-top: 75px;
}
  
.navbar__link {
    padding: 15px 70px 15px 15px;
    text-decoration: none;
    color: rgb(0, 112, 156);
}
  
.navbar__link:hover {
    text-decoration: underline;
    color: rgb(4, 60, 245);
}
  